*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

.App{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: auto;
}